<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>
  <div class="main">
    <div class="header">
      <a href="/">
        <img src="/public/img/logo3.png" alt="">
      </a>
      <h1>用户注册</h1>
    </div>
    <form id="register_form" method="post" action="/register">
      <div class="form-group">
        <label for="email">邮箱</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Email" autofocus>
      </div>
      <div class="form-group">
        <label for="user">用户名</label>
        <input type="text" class="form-control" id="user" name="user" placeholder="User">
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-success btn-block" id="submit">注册</button>
    </form>
    <div class="message">
      <p>已有账号? <a href="/login">点击登录</a>.</p>
    </div>
  </div>
    <script type="text/javascript" src="../public/js/myAjax.js"></script>
    <script>
    function $(divid) {
        return document.getElementById(divid);
    }
    $("submit").onclick = function() {
        myAjax({
            url: "/register",
            Type: "post",
            data: { user: $("user").value, password: $("password").value, email: $("email").value},
            success: function(response) {
                if (response.ok) {
                    alert(response.message);
                    window.location.href="http://localhost:8888/login";
                } else {
                    alert(response.message);
                    window.location.href="http://localhost:8888/register";
                }
            },
            error: function(status) {
                alert("通信错误");
            }
        });
    }
  </script>
</body>

</html>


